/* this will only appear if the js file fails */
body {
  background: grey;
}

li {
  padding: 5px;
}
hr {
  display: none;
}
/* .icon {

} */

a > img {
  width: 50px;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 70px;
  margin-top: 10px;
}

/* removed buttons and replaced with icons because of validation issue */
/* button {
  color: rgb(255, 255, 255, 0.9);
  border-radius: 5px;
  background: rgb(0, 0, 0, 0.4);
  border: none;
  padding: 5px 10px;
  margin-bottom: 70px;
  margin-top: 10px;
}
button > a {
  color: white;
  text-decoration: none;
} */

.rightcolumn {
  /* for some reason paddingcreates a blank space in the background the side of the margin, padding does not */
  /* margin-top: 50px; */
  flex: 50%;
  padding-top: 120px;
  background: rgb(255, 255, 255, 0.2);
}

/* row and column divs together make side by side rows */
.row {
  display: flex;
  padding: 0;
}
.column {
  flex: 50%;
  padding: 10px;
  background: rgb(255, 255, 255, 0.2);
}
/* crop overflow down to keep aspect ratio */
.image,
.column img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  align-self: right;
  margin: 5px;
}

#profile {
  width: 250px;
  display: inline;
}

#pun {
  text-transform: lowercase;
  font-size: 18px;
}

/* created wrapper class to use Pseudo-elements to add divider between sections */
.wrapper::after {
  content: "";
  height: 5px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(50, 50, 50, 0.5),
    rgba(50, 50, 50, 0)
  );
  display: block;
}

.top-bottom {
  color: #461623;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-weight: 550;
}
div > h1 {
  font-size: 36px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-shadow: 1px 1px rgba(140, 140, 140, 0.7);
}

main {
  font-family: "Open Sans", sans-serif;
}

header {
  margin-top: 30px;
}

h2,
h3 {
  letter-spacing: 1px;
  color: #461623;
  text-shadow: 1px 1px rgba(140, 140, 140, 0.7);
  padding: 10px 20px;
}
p,
div > a {
  padding: 10px 20px;
}
h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

footer {
  font-size: small;
}

a:link {
  color: #1c3454;
}
a:visited {
  color: rgb(2, 97, 21);
}

a:hover {
  color: rgb(7, 164, 7);
}
a:active {
  color: rgb(79, 4, 16);
}
